*{
    margin: 0px;
    padding: 0px;
    font-family: 'Oxanium', cursive;
    box-sizing: border-box;
}
body{
    background: url(../Imagenes/fondo.png) no-repeat;
}
.vinculos{
    text-align: center;
}
.vinculos a{
    color: black;
    font-weight: bold;
    margin-right: 7.5px;
}
.titulo{
    text-align: center;
    margin-top: 10px;
}
.subtitulo {
    border-bottom: black 1.5px solid; 
}
.subtituloIzq{
    margin-left: 30px;
    margin-top: 10px;
}
h3.subtitulo {
    margin-left: 10px;
}
.imagenPrincipal{
    height: 500px;
    width: 100%;
    object-fit: fill
}
.imagenGrande{
    height: 500px;
    width: 800px;
    object-fit: cover;
    margin: 10px; margin-bottom: 0px; 
    border-radius: 20px;
}
.imagenGrandeEstatica{
    height: 500px;
    width: 800px;
    object-fit: cover;
    margin: 10px; margin-bottom: 0px; 
    border-radius: 20px;
    border: 2px black solid;
}
.imagenMediana{
    height:300px ;
    width:410px ;
    margin-left: 10px;
    margin-top: 5px;
    object-fit: cover;
}
.imagenMedianaB{
    height:400px ;
    width:300px ;
    margin-left: 10px;
    margin-top: 5px;
    object-fit: cover;
}
.imagenMediana:hover{
    height: 350px;
    width: 350px;
}
.imagenMedianaEstatica{
    height:300px ;
    width:300px ;
    margin-left: 10px;
    margin-top: 5px;
    object-fit: cover;
}
.imagenMedianaEstaticaB{
    height:400px ;
    width:300px ;
    margin-left: 10px;
    margin-top: 5px;
    object-fit: cover;
}
.imagenMedianaCarousel{
    height:500px ;
    width:300px ;
    margin-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    object-fit: cover;
}
.imagenChica{
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.caja{
    height: fit-content;
    width: 550px;
    margin-left: 10px;
}
.imagenMedianaRedondeada{
    height: 300px;
    width: 200px;
    object-fit: cover;
    border-radius: 35px;
    margin-left: 10px;
}
.boton{
    height: 80px;
    width: 150px;
    border-radius: 10px;
    margin-top: 30px;
}
.botonComprar{
    margin-left: 10px;
    background-color: antiquewhite;
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
}
.pieDePag{
    background-color: rgb(218, 218, 218);
    text-align: center;
}
.pieDePag a{
    color: black;
    font-weight: bold;
}
.sombra{
    box-shadow: -9px 6px 0px 0px rgba(0,0,0,0.8);
    -webkit-box-shadow: -9px 6px 0px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: -9px 6px 0px 0px rgba(0,0,0,0.8);
    margin-left: 15px;
}
.mapa{
    border: solid black 10px;
    margin-top: 45px;
    margin-bottom: 30px;
    height: 300px;
    width: 100%;
}
.problema{
    margin-top: 20px;
}
.ayuda{
    margin: 10px;
    margin-left: 38%;
    background: rgb(218, 218, 218);
    width: 320px;
    padding: 40px 20px;
    box-sizing: border-box;

}
.ayuda input{
    width: 100%;
    background: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    padding: 6px 20px;
    box-sizing: border-box;
    margin-bottom: 20px; 
}
.textArea{
    width: 100%;
    background: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    padding: 6px 20px;
    box-sizing: border-box;
    margin-bottom: 20px; 
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 15%);
    grid-template-rows: repeat(3,30%);
    grid-template-areas: "img1 img4 img4"
                         "img1 img3 img5"
                         "img2 img2 img5";
    gap: 10px;
    margin-left: 10px;
    margin-top: 40px;
    justify-content: center;
    
}
.img1{
    grid-area: img1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img2{
    grid-area: img2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img3{
    grid-area: img3;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img4{
    grid-area: img4;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img5{
    grid-area: img5;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.contenedorFlex{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.contenedorFlexTexto {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
.contenedorFlexTexto p.caja{
    margin-left: 60px;
}
.contenedorFlexTexto p.caja button.botonComprar{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.centro{
    display: flex;
    align-items: center;
}
.centro p{
    text-align: center;
}
.centro .botonComprar{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.contenedor p.caja{
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 80px;
}
.contenedor .botonComprar{
    display: block;
    margin-top: 10px;
    margin-left: 280px;
    margin-right: auto;
    margin-bottom: 20px;
}
.botinesMujer{
    display: flex;
    justify-content: center;
}
.agrandar:hover{
    height: 500px;
    width: 500px;
    border: 2px solid black;
}
.videoPerso{
    display: block;
}
.ContenedorBorde{
    display: flex;
    justify-content: center;
    height: 360px;
    width: 620px;
    margin-left: 50%;
    gap: 10px;
}
.ContenedorTarjeta{
    height: 350px;
    width: 300px;
    perspective: 800px;
}
.ContenedorTarjeta:hover > .Tarjeta{
    cursor: pointer;
    transform: rotateY(180deg);
}
.Tarjeta{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 2s;
    transform-style: preserve-3d;
    margin: 5px;
    padding-right: 10px;
}
.Frente, .Frente2, .Detras{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
}
.Frente{
    background-image: url(../Imagenes/Williams.jpg);
}
.Frente2{
    background-image: url(../Imagenes/Messi.jpg);
}
.Detras{
    background-color: gray;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.videoPerso{
    width: 550px;
    height: 300px;
    margin-left: 25px;
}

@media(max-width:1540px){
    p.caja.textoResponsive{
        width: auto;
        height: auto;
        text-align: center;
        margin-left: 15px;
        margin-right: auto;
}   
    .contenedorFlexTexto{
        justify-content: center;
    }
    }
    h3.subtituloIzq{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    img.imagenMedianaEstatica.sombra{
        margin-left: 40%;
        margin-bottom: 15px;
    }
    form.ayuda{
        margin-left: auto;
        margin-right: auto;
    }
    .textoResponsive{
        font-size: 20px;
        max-width: 100%;
    }
    .contenedor .botonComprar{
        margin: 0px;
    }
    div.botonCentro{
        display: flex;
        justify-content: center;       
    }
    .videoPerso{
        display: flex;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        width: 750px;
        height: 350px;
        margin-bottom: 5px;
}
    div.contenedor3img{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    section.ContenedorBorde{
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        height: 500px;
        width: 800px;
        object-fit: cover;
    }
    @media(max-width:1024px){
        img.imagenMedianaEstaticaB, img.imagenMedianaB.imagenMediana{
            width: 90%;
        }
    }
@media(max-width:768px){
        p.caja{
            width: auto;
            height: auto;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
    }
        img.imagenGrande{
            width: 500px;
            height: 350px;
            margin-left: 15%;
    }
        .contenedor3img{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
    }
        h3.subtituloIzq{
            text-align: center;
    }
        .videoPerso{
            display: flex;
            justify-content: center;
            margin-right: auto;
            margin-left: auto;
            width: 550px;
            height: 250px;
            margin-bottom: 5px;
    }
        img.imagenGrandeEstatica.aos-init.aos-animate{
            width: 230px;
            height: 230px;
            margin-left: auto;
            margin-right: auto;
    }
        img.imagenMediana.imagenMedianaRedondeada.agrandar{
            height: 230px;
            width: 230px;
            margin-right: auto;
            margin-left: auto;
        }
        p.caja.mujertexto{
            width: 700px;
            height: auto;
            text-align: center;
            margin-left: auto;
        }
        .contenedor3img{
            display: flex;
            flex-wrap: wrap;
        }
        section.ContenedorBorde{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            height: 500px;
            object-fit: cover;
            max-width: 300px;
        }
        div.botonCentro{
            display: flex;
            justify-content: center;
            
        }
        .contenedorFlexTexto{
            display: flex;
            flex-wrap: wrap;
        }
        img.imagenMedianaEstatica.sombra{
            margin-left: 10%;
            margin-bottom: 5px;
        }
        form.ayuda{
            margin-left: auto;
            margin-right: auto;
        }
        .textoResponsive{
            font-size: 16px;
            max-width: 100%;
        }
        .contenedor .botonComprar{
            margin: 0px;
        }
        img.imagenMedianaEstaticaB{
            width: 200px;
        }
        img.imagenMedianaB.imagenMediana{
            width: 200px;
        }
    }

    @media(max-width:420px){
        p.caja{
            width: 400px;
            height: auto;
            text-align: center;
        }
        p.caja.mujertexto{
            width: 300px;
            height: auto;
            text-align: center;
            margin-left: 15%;
        }
        .contenedorFlexTexto{
            display: flex;
            flex-wrap: wrap;
        }
        img.imagenMedianaEstaticaB{
            width: 150px;
        }
        img.imagenMedianaB.imagenMediana{
            width: 150px;
        }
        img.imagenGrande{
            width: 300px;
            height: 200px;
            margin-left: 15%;
        }
        .videoPerso{
            width: 350px;
            height: 200px;
            margin-left: 10%;
        }
        h3.subtituloIzq{
            text-align: center;
        }
        .contenedor3img{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        img.imagenMedianaRedondeada.imagenMediana{
            margin-left: 26%;
        }
        form.ayuda{
            margin-left: auto;
            margin-right: auto;
        }
        img.imagenGrandeEstatica.aos-init.aos-animate{
            width: 350px;
            height: 300px;
            margin-left: 7.5%;
        }
        div.botonCentro{
            display: flex;
            justify-content: center;
        }
        button.botonComprar{
            text-align: center;
        }
        .contenedor .botonComprar{
            margin: 0px;
        }
        .contenedorFlexTexto p.caja{
            margin-left: auto;
        }
        section.ContenedorBorde{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            height: 500px;
            object-fit: cover;
            max-width: 300px;
        }
        .textoResponsive{
            font-size: 10px;
            max-width: 100%;
        }
    }